<h2>here there is all of your task</h2>

<%= link_to 'come back my friend', tasks_path %>

<h4>description: <%=@task.content%></h4>
<h4>creating in: <%=@task.created_at%></h4>
<h4>finish: <%=@task.finished%></h4>